<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("header") %>
    <link rel="stylesheet" href="/styles/github-markdown.css">
    <link rel="stylesheet" href="/styles/blog.css">
    <link rel="stylesheet" href="/highlight.css">
  </head>
  <body>
    <div class="wrapper">
      <%- include("sidebar") %>
      <div class="content-wrapper markdown-body">
        <div class="content">
          <% posts.forEach(post => { %>
            <a href="<%= post.path %>"><h1><%= post.config.title %></h1></a>
            <%- post.summary %>
            <p>
            <a href="<%= post.path %>">Read More</a></p>
            <div class="post--seperator"></div>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</head>

