<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("header") %>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@NotDeGhost" />
    <meta name="twitter:image" content="https://robertchen.cc/ghost.png" />

    <meta name="og:title" content="<%= title %>" />
    <meta name="og:image" content="https://robertchen.cc/ghost.png" />
    <meta name="og:description" content="<%= description %>" />
    <link rel="stylesheet" href="/styles/github-markdown.css">
    <link rel="stylesheet" href="/styles/blog.css">
    <link rel="stylesheet" href="/highlight.css">
  </head>
  <body>
    <div class="wrapper markdown-body">
      <%- include("sidebar") %>
      <div class="content">
        <h1><%= title %></h1>
        <%- md(content) %>
      </div>
    </div>
  </body>
</head>

